{%  load static  %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta
      name="description"
      content="Roommates Directory & Listings HTML templates"
    />
    <meta
      property="og:title"
      content="Roommates Directory & Listings HTML templates"
    />
    <meta
      property="og:description"
      content="Roommates Directory & Listings HTML templates"
    />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no" />

    <!-- FAVICONS ICON -->
    <link rel="icon" href="static/career/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="static/career/images/favicon.png" />

    <!-- PAGE TITLE HERE -->
    <title>Career Page</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="static/career/css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="static/career/css/style.css" />
    <link rel="stylesheet" type="text/css" href="static/career/css/templete.css" />
    <link
      class="skin"
      rel="stylesheet"
      type="text/css"
      href="static/career/css/skin/skin-1.css"
    />
  </head>
  <body id="bg">
    <div id="loading-area"></div>
    <div class="page-wraper">
      <!-- header -->
      <header class="site-header header-transparent mo-left">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix ">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
						<a href="home.html" class="logo-1"><img src="./static/career/images/ROOMMATE-logo-white.png" alt=""></a>
						<a href="home.html" class="logo-2"><img src="./static/career/images/ROOMMATE-logo-black.png" alt=""></a>
					</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- extra nav -->
                    <!-- <div class="extra-nav">
                        <div class="extra-cell">
                            <a href="register.html" class="site-button-link white"><i class="ti-import m-r5 rotate90"></i> Sign In</a>
							<a href="LET-US-CONNECT.html" class="site-button radius-xl m-l10"><i class="fa fa-plus m-r5"></i> LET US CONNECT</a>
                        </div>
                    </div> -->
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="nav navbar-nav"> 
							<li><a href="">Home</a></li>             
							<!--<li class="down active"><a href="home.html">Home <i class="fa fa-chevron-down"></i></a>-->
								<!--<ul class="sub-menu">
									<li><a href="home.html">Home 1</a></li>
									<li><a href="index-2.html">Home 2<span class="tag-new">New</span></a></li>
									<li><a href="index-3.html">Home 3<span class="tag-new">New</span></a></li> 
								</ul> -->
							</li>
							<li><a href="{% url 'contact' %}">Contact Us</a></li>
							<li><a href="register.html" class="site-button-link white"><i class="ti-import m-r5 rotate90"></i> Sign In</a></li>
						</ul>		
                    </div>
                </div>
            </div>
        </div>
              
        <!-- main header END -->
      </header>
      <!-- header END -->
	   {%if name %}
	   <h1>you resonponse is sended .......</h1>
	   {%endif%}
	   <!-------form start -------->
	   <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">

		<form
                          method="post"
                          action='{% url "apply_form" %}'
                        >
						{% csrf_token %}

               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                 <div class="modal-header text-center bg-primary ">
                    <h4 class="modal-title w-100 font-weight-bold">APPLY</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                   <div class="modal-body mx-3"> 
					    <div class="md-form mb-5">
						     <label data-error="wrong" data-success="right" for="defaultForm-name">Name</label>
						     <input type="text" id="defaultForm-name"name="name" class="form-control validate">
					    </div>
                      <div class="md-form mb-5">
					        <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                            <input type="email" id="defaultForm-email"name="email" class="form-control validate">
                      </div>
					  <div class="md-form mb-5">
						<label data-error="wrong" data-success="right" for="defaultForm-college">college Name</label>
						<input type="text" id="defaultForm-college" name="collage_name"class="form-control validate">
				      </div>
					  <div class="md-form mb-5">
						<label data-error="wrong" data-success="right" for="defaultForm-specification">Course Specification</label>
						<input type="text" id="defaultForm-specification" name="course" class="form-control validate">
				       </div>
                        <div>
							<label  >Appling for</label>
						 <select class="selectpicker" name="applied_for">
							  <option>---------</option>
					          <option>Frontend Development</option>
					          <option>Backend Development</option>
					          <option>Graphic Design</option>
							  <option>Content Writing</option>
					          <option>HR Manager</option>
							  <option>UX/UI</option>
				         </select>
						</div>

                    </div>
             <div class="modal-footer d-flex justify-content-center">
              <input
                              type="submit"
                              value="Apply"
                              class="submit site-button"
                              id="submit"
                              name="submit"
                            />
            </div>
           </div>
  </div>
</form>
</div>
	   <!---------form end--------->
      <!-- Content -->
      <div class="page-content bg-white">
        <!-- inner page banner -->
        <div
          class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
          style="
            background-image: url(./static/career/images/scott-graham-5fNmWej4tAA-unsplash.jpg);
          "
        >
          <div class="container">
            <div class="dlab-bnr-inr-entry">
              <h1 class="text-white">Career Section</h1>
              <p>Find a best way to set your career.</p>
              <!-- Breadcrumb row -->
              <div class="breadcrumb-row">
                <ul class="list-inline">
                  <li><a href="https://techmihirnaik.in/">Home</a></li>
                  <!-- <li>Blog Standard</li> -->
                </ul>
              </div>
              <!-- Breadcrumb row END -->
            </div>
          </div>
        </div>
        <!-- inner page banner END -->
        <div class="section-full content-inner">
          <div class="container">
            <div class="row">
              <!-- Left part start -->
              <div class="col-md-7 col-lg-8 col-xl-8">
				<div class="career">

					<div class="blog-post blog-lg list-blog-bx">
						<div class="dlab-post-media dlab-img-effect zoom-slow">
							<a href="#"
							class="blog-img"
							><img src="./static/career/images/frontend.jpg" style="height:100%; width:100%;"  alt="frontend"
							/></a>
						</div>
						<div class="dlab-post-info">
							<div class="dlab-post-meta">
							
								</div>
								<div class="dlab-post-title">
									<h3 class="post-title">
										
										FRONT - END DEVELOPER 
										
									</h3>
								</div>
								<div class="dlab-post-text">
									 
									<p>
										Applicant should be good at
										<b>CSS, JAVASCRIPT, HTML as well as BOOTSTRAP.</b> 
										Applicant are assigned the work on daily basis by  MANAGER which include designing pages for website and
										editing the same as per instruction.

									</p>
								</div>
								<div class="dlab-post-readmore blog-share">
									<button title="Apply NOW"
									data-toggle="modal" data-target="#modalLoginForm"
									rel="bookmark"
									class="site-button button-md radius-xl"
									onclick="Apply_form()"
									>APPLY NOW</button>  
									
								</div>
							</div>
						</div>
						<div class="blog- ost blog-lg list-blog-bx">
							<div class="dlab-post-media dlab-img-effect zoom-slow">
								<a  href="#"
								class="blog-img"
								><img src="./static/career/images/backend.jpg" alt=""
								/></a>
							</div>
							<div class="dlab-post-info">
								<div class="dlab-post-meta">
									<!-- <ul class="d-flex align-items-center">
										<li class="post-author">
											<i class="ti-user"></i>By
											<a href="javascript:void(0);">Rosalina</a>
										</li>
										<li class="post-date">
											<i class="ti-alarm-clock"></i><strong>25 Oct</strong
												><span> 2020</span>
											</li>
										</ul> -->
									</div>
									<div class="dlab-post-title">
										<h3 class="post-title">
										
											BACK - END DEVELOPER
											
										</h3>
									</div>
									<div class="dlab-post-text">
										<p>
											Applicant applying for this position should have of experience and
											knowledge of <b>Dango farework </b>deployment of the website, payment 
											integration. Appicant will be assign day to day  responsibility by their manager. 
										</p>
									</div>
									<div class="dlab-post-readmore blog-share">
										<button title="Apply NOW"
										data-toggle="modal" data-target="#modalLoginForm"
									      rel="bookmark"
									      class="site-button button-md radius-xl"
									      onclick="Apply_form()"
									      >APPLY NOW
									    </button> 
									</div>
								</div>
							</div>
							<div class="blog-post blog-lg list-blog-bx">
								<div class="dlab-post-media dlab-img-effect zoom-slow">
									<a  href="#"
									class="blog-img"
									><img src="./static/career/images/uxui.jpg" alt=""
									/></a>
								</div>
								<div class="dlab-post-info">
									<div class="dlab-post-meta">
										<!-- <ul class="d-flex align-items-center">
											<li class="post-author">
												<i class="ti-user"></i>By
												<a href="javascript:void(0);">John Smith</a>
											</li>
											<li class="post-date">
												<i class="ti-alarm-clock"></i><strong>05 Jan</strong
													><span> 2020</span>
												</li>
											</ul> -->
										</div>
										<div class="dlab-post-title">
											<h3 class="post-title">
											
												UI/UX DESIGNER
												
											</h3>
										</div>
										<div class="dlab-post-text">
											<p>
												Appicant should be capabale of designing good and catchy designs.
												He should have knowledge of <b>colour theme and design thinking </b>with hands on experience of softwares like<b> FIGMA</b> etc.
												During  internship the task is assigned on day to day basis.
											</p>
										</div>
										<div class="dlab-post-readmore blog-share">
											<button title="Apply NOW"
											data-toggle="modal" data-target="#modalLoginForm"
									          rel="bookmark"
									          class="site-button button-md radius-xl"
									          onclick="Apply_form()"
									          >APPLY NOW
									        </button> 
										</div>
									</div>
								</div>
								<div class="blog-post blog-lg list-blog-bx">
									<div class="dlab-post-media dlab-img-effect zoom-slow">
										<a  href="#"
										class="blog-img"
										><img src="./static/career/images/hr.jpg" alt=""
										/></a>
									</div>
									<div class="dlab-post-info">
										<div class="dlab-post-meta">
											<!-- <ul class="d-flex align-items-center">
												<li class="post-author">
													<i class="ti-user"></i>By
													<a href="javascript:void(0);">Robin Hood</a>
												</li>
												<li class="post-date">
													<i class="ti-alarm-clock"></i><strong>20 Feb</strong
														><span> 2020</span>
													</li>
												</ul> -->
											</div>
											<div class="dlab-post-title">
												<h3 class="post-title">
												
													HR MANAGER
													
												</h3>
											</div>
											<div class="dlab-post-text">
												<p>
													Applicant day to day responsiblities include 
													 <b>Managing the recruitment process</b>,
													 Supporting in,<b>data collation</b> and <b>preparation of reports</b>.
													 Partnering actively with internal stakeholders  and providing solutions.
												</p>
											</div>
											<div class="dlab-post-readmore blog-share">
												<button title="Apply NOW"
									             rel="bookmark"
												 data-toggle="modal" data-target="#modalLoginForm"
									             class="site-button button-md radius-xl"
									             onclick="Apply_form()"
									             >APPLY NOW
									             </button> 
											</div>
										</div>
									</div>
								<div class="blog-post blog-lg list-blog-bx">
									<div class="dlab-post-media dlab-img-effect zoom-slow">
										<a  href="#"
										class="blog-img"
										><img src="./static/career/images/graphicdesign.jpg"  alt=""
										/></a>
									</div>
									<div class="dlab-post-info">
										<div class="dlab-post-meta">
											<!-- <ul class="d-flex align-items-center">
												<li class="post-author">
													<i class="ti-user"></i>By
													<a href="javascript:void(0);">Robin Hood</a>
												</li>
												<li class="post-date">
													<i class="ti-alarm-clock"></i><strong>20 Feb</strong
														><span> 2020</span>
													</li>
												</ul> -->
											</div>
											<div class="dlab-post-title">
												<h3 class="post-title">
													
													GRAPHICS DESIGNER
											
												</h3>
											</div>
											<div class="dlab-post-text">
												<p>
													Applicant should have design thinking.
													he should knowledge of softwares like <b>ABOBE PHOTOSHOP,  
													ADOBE ILLUSTRATOR AND CANVA</b>. Basic responsiblity includes 
													desiging logo, posters and different templates. responsiblities are assign on daily basis. 

												</p>
											</div>
											<div class="dlab-post-readmore blog-share">
												<button title="Apply NOW"
												data-toggle="modal" data-target="#modalLoginForm"
									               rel="bookmark"
									               class="site-button button-md radius-xl"
									               onclick="Apply_form()"
									               >APPLY NOW
									            </button> 
											</div>
										</div>
									</div>
								<div class="blog-post blog-lg list-blog-bx">
									<div class="dlab-post-media dlab-img-effect zoom-slow">
										<a  href="#" class="blog-img"
										><img src="./static/career/images/content writing.jpg"  alt=""
										/></a>
									</div>
									<div class="dlab-post-info">
										<div class="dlab-post-meta">
											<!-- <ul class="d-flex align-items-center">
												<li class="post-author">
													<i class="ti-user"></i>By
													<a href="javascript:void(0);">Robin Hood</a>
												</li>
												<li class="post-date">
													<i class="ti-alarm-clock"></i><strong>20 Feb</strong
														><span> 2020</span>
													</li>
												</ul> -->
											</div>
											<div class="dlab-post-title">
												<h3 class="post-title">
												
													CONTENT WRITER

												</h3>
											</div>
											<div class="dlab-post-text">
												<p>
													Applicant should know  how to write tag lines, 
													<b>attractive content</b> for different plateform.He should be 
													fluent english writing. Capable of summarising large 
													content.<b>Good vacabulary and creative thinking</b>.
													responsiblities are assigned on daily basis.



													
												</p>
											</div>
											<div class="dlab-post-readmore blog-share">
												<button title="Apply NOW"
									                rel="bookmark"

									                class="site-button button-md radius-xl "
													data-toggle="modal" data-target="#modalLoginForm"
									                onclick="Apply_form()"
									                >APPLY NOW
									            </button> 
												
											</div>
										</div>
									</div>
								</div>  
									
            </div>
          </div>
		  <div class="widget" >
			<h4 class="widget-title">Search</h4>
			<div class="search-bx">
			  <form role="search" method="post">
				<div class="input-group">
				  <input
					name="text"
					type="text"
					class="form-control"
					placeholder="Search your keyword..."
				  />
				  <span class="input-group-btn">
					<button type="submit" class="site-button">
					  <i class="fa fa-search"></i>
					</button>
				  </span>
				</div>
			  </form>
			</div>
		  </div>
        </div>
      </div>
      <!-- Content END-->
      <!-- Footer -->
      <footer class="site-footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
						<div class="widget">
							<img src="static/career/images/ROOMMATE-logo-white.png" class="m-b15" alt="" width="180">
							<p class="text-capitalize m-b20">We are a group of young entrepreneurs seeking to change
								the country and create jobs. In our venture we are now here with a new subsidiary
								company ROOMMATE. A service that will look after all students and staff who leave
								their homes to improve their lives. ROOMMATE is here to make their stays comfortable
								and better, providing services ranging from verified rooms to laundry services and
								food recommendations.</p>
							<div class="subscribe-form m-b20">
								<form class="dzSubscribe" action="script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="input-group">
										<input name="dzEmail" required="required" class="form-control"
											placeholder="Your Email Address" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit"
												class="site-button radius-xl">Subscribe</button>
										</span>
									</div>
								</form>
							</div>
							<ul class="list-inline m-a0">
								<li><a href="javascript:void(0);" class="site-button facebook circle "><i
											class="fa fa-facebook"></i></a></li>
								<!-- <li><a href="javascript:void(0);" class="site-button google-plus circle "><i class="fa fa-google-plus"></i></a></li> -->
								<li><a href="javascript:void(0);" class="site-button linkedin circle "><i
											class="fa fa-linkedin"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button instagram circle "><i
											class="fa fa-instagram"></i></a></li>
								<!-- <li><a href="javascript:void(0);" class="site-button twitter circle "><i class="fa fa-twitter"></i></a></li> -->
							</ul>
						</div>
					</div>
					<div class="col-xl-4 col-lg-5 col-md-7 col-sm-12 col-12">
						<div class="widget border-0">
							<h5 class="m-b30 text-white">Frequently Asked Questions</h5>
							<ul class="list-2 list-line">
								<li><a href="javascript:void(0);">Verified Hostel</a></li>
								<li><a href="javascript:void(0);">Verified PG's</a></li>
								<li><a href="javascript:void(0);">Verified Flats</a></li>
								<li><a href="javascript:void(0);">Food Delivery</a></li>
								<li><a href="javascript:void(0);">Laundry</a></li>
								<li><a href="javascript:void(0);">Stationary</a></li>
								<li><a href="javascript:void(0);">Cab Services</a></li>
								<li><a href="javascript:void(0);">Bus Services</a></li>
								<li><a href="javascript:void(0);">Mobile Repairing</a></li>
								<li><a href="javascript:void(0);">Laptop Repairing</a></li>
								<li><a href="javascript:void(0);">Wifi Services</a></li>
								<li><a href="javascript:void(0);">Bike Rentals</a></li>
								<li><a href="javascript:void(0);">Courier Services</a></li>
								<li><a href="javascript:void(0);">Shoes Laundry</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
						<div class="widget widget_getintuch">
							<h5 class="m-b30 text-white">Contact us</h5>
							<ul>
								<li><i class="ti-location-pin"></i><strong>address</strong> Bandra, Mumbai</li>
								<li><i class="ti-mobile"></i><strong>phone</strong>8530392350 (24/7 Support)</li>
								<li><i class="ti-email"></i><strong>email</strong>hello@techmihirnaik.in</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<span class="fbottom-like"> © 2021 by techmihirnaik.in <a class="like-btn"
								href="javascript:void(0)"><i class="fa fa-heart"></i></a> Proudly created with
							techmihirnaik.in </span>
					</div>
				</div>
			</div>
		</div>
	</footer>
	 
      <!-- Footer END-->
      <button class="scroltop fa fa-chevron-up"></button>
    </div>
    <!-- JAVASCRIPT FILES ========================================= -->

     <!-- -- apply form ----------------------->
	<script type="text/javascript">
    function Apply_form() {
        document.getElementById('formElement').style.display = 'block';
    }
    </script>
	</script>
    <script src="static/career/js/jquery.min.js"></script>
    <!-- JQUERY.MIN JS -->
	<script src="static/career/js/jquery.min.js"></script>
    <script src="static/career/plugins/bootstrap/js/popper.min.js"></script>
    <!-- BOOTSTRAP.MIN JS -->
    <script src="static/career/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- BOOTSTRAP.MIN JS -->
    <script src="static/career/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <!-- FORM JS -->
    <script src="static/career/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <!-- FORM JS -->
    <script src="static/career/plugins/magnific-popup/magnific-popup.js"></script>
    <!-- MAGNIFIC POPUP JS -->
    <script src="static/career/plugins/counter/waypoints-min.js"></script>
    <!-- WAYPOINTS JS -->
    <script src="static/career/plugins/counter/counterup.min.js"></script>
    <!-- COUNTERUP JS -->
    <script src="static/career/plugins/imagesloaded/imagesloaded.js"></script>
    <!-- IMAGESLOADED -->
    <script src="static/career/plugins/masonry/masonry-3.1.4.js"></script>
    <!-- MASONRY -->
    <script src="static/career/plugins/masonry/masonry.filter.js"></script>
    <!-- MASONRY -->
    <script src="static/career/plugins/rangeslider/rangeslider.js"></script>
    <!-- RANGESLIDER -->
    <script src="static/career/plugins/owl-carousel/owl.carousel.js"></script>
    <!-- OWL SLIDER -->
    <script src="static/career/js/custom.js"></script>
    <!-- CUSTOM FUCTIONS  -->
    <script src="static/career/js/dz.carousel.js"></script>
    <!-- SORTCODE FUCTIONS  -->
    <script src="static/career/js/dz.ajax.js"></script>
    <!-- CONTACT JS  -->
  </body>
</html>
